<ion-content [ngClass]="scanActivo?'scanner-activo':''">
  <ion-header style="font-size: 1.4rem; text-align: center; background: #236f2d;     color:#fff;">ALTA EMPLEADO</ion-header>
 
      <ion-fab
    horizontal="start"
    vertical="bottom"
    slot="fixed"
  >
    <ion-fab-button (click)="irAMenuAltas()" style="border: 3px solid #ffffff00; border-radius: 50%; overflow: hidden;">
      <img src="./../../../assets/atras.png" class="img-logout" alt="">
    </ion-fab-button>
  </ion-fab>
  <img class="imagen_usuario" src="{{src_imagen}}" *ngIf="!scanActivo">

  <form [formGroup]="forma" (ngSubmit)="registrar()" *ngIf="!scanActivo">

    <ion-slides pager="false" scrollbar="true">
      <ion-slide>
        <h4 class="titulo" style="color: #ffffff; text-transform: uppercase;">Datos Personales</h4>
          <ion-icon (click)="goToSlides2()" class="flecha-der" name="caret-forward-outline"></ion-icon>
          <input type="text" formControlName="email" class="input"  Placeholder="Correo">
          <small class="invalid"
            *ngIf="forma.controls.email.errors?.required &&
            forma.controls.email.touched">
              El correo es requerido
          </small>

          <small class="invalid"
            *ngIf="forma.controls.email.errors?.email &&
            forma.controls.email.touched">
              El correo debe cumplir con el formato
          </small>

          <input type="password" formControlName="contrasena" class="input" Placeholder="Contraseña">
          <small class="invalid"
            *ngIf="forma.controls.contrasena.errors?.required &&
            forma.controls.contrasena.touched">
              La contraseña es requerida
          </small>

          <input type="password" formControlName="repetirContrasena" class="input" Placeholder="Repetir contraseña">
          <small class="invalid"
            *ngIf="forma.controls.repetirContrasena.errors?.required &&
            forma.controls.repetirContrasena.touched">
              Debe repetir la contraseña
          </small>

          <input type="number" formControlName="dni" class="input" Placeholder="DNI">
        <small class="invalid"
          *ngIf="forma.controls.dni.errors?.required &&
          forma.controls.dni.touched">
            El DNI es requerido
        </small>
         
      </ion-slide>


        
      <ion-slide>
        <ion-icon (click)="goToSlides1()" class="flecha-izq" name="caret-back-outline"></ion-icon>

        <input type="text" formControlName="nombre" class="input" Placeholder="Nombre">
        <small class="invalid"
          *ngIf="forma.controls.nombre.errors?.required &&
          forma.controls.nombre.touched">
            El nombre es requerido
        </small>

        <input type="text" formControlName="apellido" class="input" Placeholder="Apellido">
        <small class="invalid"
          *ngIf="forma.controls.apellido.errors?.required &&
          forma.controls.apellido.touched">
            El apellido es requerido
        </small>
        
        <small class="invalid"
          *ngIf="forma.controls.dni.errors?.pattern &&
          forma.controls.dni.touched">
          El DNI solo puede contener numeros
        </small>
    
        <input type="number" formControlName="cuil" class="input" Placeholder="CUIL">
        <small class="invalid"
          *ngIf="forma.controls.cuil.errors?.required &&
          forma.controls.cuil.touched">
            El CUIL es requerido
        </small>
        <small class="invalid"
          *ngIf="forma.controls.cuil.errors?.pattern &&
          forma.controls.cuil.touched">
          El CUIL solo puede contener numeros
        </small>

        <select class="input" formControlName="tipo" placeholder="Tipo" >
          <option value="">Seleccione el tipo...</option>
          <option value="metre">Metre</option>
          <option value="mozo">Mozo</option>
          <option value="cocinero">Cocinero</option>
          <option value="bartender">Bartender</option>
        </select>
        <small class="invalid"
          *ngIf="forma.controls.tipo.errors?.required &&
          forma.controls.tipo.touched">
            El tipo es requerido
        </small>
      </ion-slide>
    </ion-slides>



    <button type="submit" *ngIf="forma.valid" class="boton">Registrar</button>
    <button type="button" *ngIf="forma.invalid" (click)="goToSlides()" class="boton">Continuar</button>
  </form>

   <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    *ngIf="!scanActivo"
  >
    <ion-fab-button color="danger">
      <ion-icon name="attach-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">  
      <ion-fab-button color="danger" (click)="sacarFoto()"
        ><ion-icon name="camera-outline"></ion-icon
      ></ion-fab-button>
      <ion-fab-button color="danger" (click)="escanearDocumento()"
        ><ion-icon name="qr-code-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="scanActivo">
    <h3 class="scanH3">Escanear QR</h3>
    <div class="scan">
      <div class="qrcode"></div>
      <div class="border"></div>
    </div>
    <br>
    <br>
    <div>
      <button class="botonscan" (click)="pararScan()">Detener</button>
    </div>
  </div>
</ion-content>

    <div *ngIf="this.spinner" class="div-spinner">
      <img src="./../../../assets/icon.png" alt="Spinner" class="custom-spinner" />
    </div>

